@tailwind base;
@tailwind components;
@tailwind utilities;

/* For the purple moving bar */
:root {
  --grey-bar-height: 0px;
  --purple-bar-height: 0px;
}

.greyBar {
  height: var(--grey-bar-height);
}

.purpleBar {
  height: var(--purple-bar-height);
}